{% extends 'base.html' %}

{% block content %}
<section class="gsap-section d-flex justify-content-center align-items-center w-100" style="min-height: 100vh;">
    <div class="card shadow border-0" style="width: 100%;max-width: 450px;transform: translateY(-5rem);">
        <div class="card-body p-5 text-center">
            <div class="mb-4">
                <div class="bg-success text-white rounded-circle d-inline-flex align-items-center justify-content-center" style="width: 70px; height: 70px;">
                    <i class="fa-solid fa-check fa-2x"></i>
                </div>
            </div>
            
            <h4 class="fw-bold mb-3 text-success">Berhasil!</h4>
            
            <p class="text-muted small mb-4">
                Password Anda telah berhasil diperbarui. Silakan masuk menggunakan password baru Anda untuk mengakses Dashboard SIRIGASI.
            </p>
            
            <div class="mt-4">
                <a href="{% url 'login' %}" class="btn btn-primary w-100 fw-bold">Login ke SIRIGASI</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}