{% extends "admin/base_site.html" %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <h2>Pilih Layer IGT dari File: {{ obj.file_geojson.name }}</h2>
    <p>Silakan centang objek fungsional yang ingin Anda masukkan ke peta:</p>
    
    <div style="margin-bottom: 15px;">
        <input type="text" id="searchInput" onkeyup="filterTable()" placeholder="Cari Nama DI atau ObjectID..." 
            style="padding: 8px; width: 100%; border: 1px solid #ccc; border-radius: 4px;">
    </div>
    <table style="width:100%; border-collapse: collapse;">
        <thead>
            <tr style="background:#eee; text-align:left;">
                <th style="padding:10px;"><input type="checkbox" id="select-all"></th>
                <th>Nama Objek (Placemark)</th>
            </tr>
        </thead>
        <tbody>
            {% for f in features %}
            <tr style="border-bottom:1px solid #ddd;">
                <td style="padding:10px;">
                    <input type="checkbox" name="selected_features" value="{{ f.id }}" class="feat-cb">
                </td>
                <td>{{ f.name }}</td>
                <td>{{ f.metadata.luas_fung }} Ha</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div style="margin-top:20px;">
        <button type="submit" class="button" style="background:#417690;">Simpan Pilihan & Konversi ke JSON</button>
        <a href="../change/" class="button cancel-link">Batal</a>
    </div>
</form>

<script>
    document.getElementById('select-all').onclick = function() {
        var checkboxes = document.getElementsByClassName('feat-cb');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    }

    function filterTable() {
        var input = document.getElementById("searchInput");
        var filter = input.value.toUpperCase();
        var table = document.querySelector("table");
        var tr = table.getElementsByTagName("tr");

        for (var i = 1; i < tr.length; i++) {
            var td = tr[i].getElementsByTagName("td")[1];
            if (td) {
            var txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }
        }
    }
</script>
{% endblock %}